* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "aside"
    "main";
  grid-template-columns: 1fr;
  grid-template-rows:
    50px 50px 1fr;
  gap: 7px;
}

header {
  grid-area: header;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

aside {
  background-color: $blue2;
  grid-area: aside;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background-color: $gray-400;
  grid-area: main;
  align-items: center;
  justify-content: center;
}


/*Media ---------------------------------------------------*/
/* -- Extra Small */
@media (max-width: 576px) {}

/* sm Small */
@media (min-width: 576px) {}

/* md Medium */
@media (min-width: 768px) {}

/* lg Large */
@media (min-width: 992px) {
  .grid {
    display: grid;
    grid-template-areas:
      "header header"
      "aside  main";
    grid-template-columns: 450px 1fr;
    grid-template-rows:
      50px 1fr;
    gap: 10px;
  }
}
